@charset "UTF-8";
/*html*/
@media (max-width: 780px) {
  html {
    font-size: 14px;
  }
}

/*配色*/
/*********************mixin*********************/
/***********フォント・文字***********/
/*ヘッダータイトル*/
/*見出し*/
/*********************ボックスデザイン*********************/
/*********************コンテナ〜セクション*********************/
.container {
  /*レイアウト*/
  display: block;
  clear: both;
  /*サイズ*/
  height: auto;
  width: auto;
  /*余白*/
  padding: auto;
  margin: auto;
  /*色*/
  background-color: #faeee7;
  color: #33272a;
}

.container .header {
  /*レイアウト*/
  /*サイズ*/
  height: auto;
  width: auto;
  /*余白*/
  padding: auto;
  margin: auto;
  /*色*/
  background-color: #faeee7;
  color: #33272a;
}

.container .header .header_title {
  /*レイアウト*/
  /*サイズ*/
  height: auto;
  width: auto;
  /*余白*/
  padding: auto;
  margin: auto;
  /*フォント*/
  font-size: 2rem;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Mayryo", sans-serif;
  /*色*/
  background-color: #faeee7;
  color: #33272a;
}

.container .header .header_nav {
  /*レイアウト*/
  /*サイズ*/
  height: auto;
  width: auto;
  /*余白*/
  padding: auto;
  margin: auto;
  /*フォント*/
  /*色*/
  background-color: #faeee7;
  color: #33272a;
}

.container .main {
  /*レイアウト*/
  /*サイズ*/
  height: auto;
  width: auto;
  /*余白*/
  padding: auto;
  margin: auto;
  /*色*/
  background-color: #faeee7;
  color: #33272a;
}

.container .main .section {
  /*レイアウト*/
}

.container .main .section .section_title {
  /*レイアウト*/
  /*サイズ*/
  height: auto;
  width: auto;
  /*余白*/
  padding: auto;
  margin: auto;
  /*フォント*/
  font-size: 1.5rem;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Mayryo", sans-serif;
  /*色*/
  background-color: #faeee7;
  color: #33272a;
}

.container .main .section .section_content {
  /*レイアウト*/
  /*サイズ*/
  height: auto;
  width: auto;
  /*ボックス*/
  /*フォント*/
  /*色*/
  background-color: #faeee7;
  color: #33272a;
}

.container .footer {
  /*レイアウト*/
  /*サイズ*/
  height: auto;
  width: auto;
  /*余白*/
  padding: auto;
  margin: auto;
  /*色*/
  background-color: #faeee7;
  color: #33272a;
}

.container .footer .copyright {
  /*レイアウト*/
  /*サイズ*/
  height: auto;
  width: auto;
  /*余白*/
  padding: auto;
  margin: auto;
  /*フォント*/
  /*色*/
  background-color: #faeee7;
  color: #33272a;
}

/*エレメント〜パラグラフ*/
.about_element {
  /*レイアウト*/
  /*サイズ*/
  /*余白*/
  margin: 0.5rem;
  padding: 0.2rem;
  /*ボーダー*/
  border: solid 3px #ff8ba7;
  /*配色*/
  background-color: #fffffe;
  /*影*/
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  /*フォント*/
  font-size: 1.1rem;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Mayryo", sans-serif;
  /*色*/
  color: #33272a;
}

.about_element .element_content {
  /*余白*/
  margin: 0.1rem;
  padding: 0.1rem;
  /*ボーダー*/
  border: dashed 1px #ff8ba7;
  border-radius: 10px;
}

.charactor_element {
  /*余白*/
  margin: 0.5rem;
  padding: 0.2rem;
  /*ボーダー*/
  border: solid 3px #ff8ba7;
  /*配色*/
  background-color: #fffffe;
  /*影*/
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  /*フォント*/
  font-size: 1.1rem;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Mayryo", sans-serif;
  /*色*/
  color: #33272a;
}

/*ハイライト*/
.highlight {
  /*色*/
  color: #ff8ba7;
}

/*about*/
/*# sourceMappingURL=style.css.map */