/*基本プロパティ*/
/*レイアウト*/
/*ボックスデザイン*/
/*フォント*/
/***********配色***********/
$first_color: #364f6b;
$primary_text: #212121;
$second_color: #3fc1c9;
$secondory_text: #757575;
$third_color: #f5f5f5;
$divider_color: #BDBDBD;
$fourth_color: #fc5185;
$txt_ico: #ffffff;
/***********テキスト・フォント***********/
$font1: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Mayryo", sans-serif;

/***********ヘッダータイトル***********/
@mixin header_title {
    font-size: 3rem;
    font-family: $font1;
    background-color: $first_color;
    color: $txt_ico;
}

/***********ヘッダーナビゲーション***********/
@mixin header_nav {
    font-size: 1.2rem;
    font-family: $font1;
    color: $primary_text;
}

/************見出し***********/
/*見出し大*/
@mixin headline_big {
    border-bottom: solid 3px $second_color;
    font-family: $first_color;
    font-size: 2rem;
}

/*見出し中*/
@mixin headline_medium {
    padding: 0.3rem;
    border-left: solid 3px $second_color;
    font-family: $primary_text;
    font-size: 1.5rem;
}

/*見出し小*/
@mixin headline_small {
    font-family: $primary_text;
    font-size: 1.2rem;
    font: bold;
    color: $first;
}

/*段落*/
@mixin paragraph {
    font-family: $font;
    font-size: 1rem;
}

/*アクセント・ハイライト*/
@mixin highlight {
    font-family: $fourth_color;
    font-size: 1rem;
    font: bold;
    color: $second;
}

/*リンク*/

/***********ボックス***********/
@mixin box1 {
    //直線ボックス
    /*余白*/
    margin: 0.3rem;
    padding: 0.3rem;
    /*ボーダー*/
    border: solid 3px $divider_color;
    /*背景*/
    background-color: $first_color;
    /*影*/
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

@mixin box2 {
    //破線ボックス
    /*余白*/
    margin: auto;
    padding: auto;
    /*ボーダー*/
    border: dashed 3px $divider_color;
    /*背景*/
    background-color: $second_color;
    /*影*/
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

@mixin box3 {
    //角丸ボックス
    /*余白*/
    margin: auto;
    padding: auto;
    /*ボーダー*/
    border: solid 3px $divider_color;
    border-radius: 10px;
    /*背景*/
    background-color: $second_color;
    /*影*/
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/***********リスト***********/
@mixin list1 {}

@mixin list2 {}

/***********テーブル***********/
@mixin table1($th) {
    width: 100%;

    th {
        position: relative;
        text-align: left;
        width: $th;

        &:after {
            display: block;
            content: "";
            width: 30px;
            height: 2px;
            background-color: #333;
            position: absolute;
            top: calc(50% - 1px);
            right: -15px;

        }

    }

    td {
        text-align: left;
        width: calc(100%-$th);
        padding:7px 0 7px 30px;

    }
}

@mixin table2 {}

/***********画像***********/
@mixin image1 {}

@mixin image2 {}

/***************************************
スタイル＋レイアウト***********************
***************************************/
/*ボックスの分割*/
@mixin devide_parent {
    //親要素
    content: "";
    display: flex;
    justify-content: center;
}

@mixin devide_child($width) {
    //子要素
    display: block;
    width: $width;
    justify-content: center;

}

@mixin devide_nav($width) {
    display: block;
    width: $width;
    justify-content: center;
    /*余白*/
    margin: 0.5rem;
    padding: 0.5rem;
    /*ボーダー*/
    border-right: dashed 3px $divider_color;

    &:last-child {
        border-right: none;
    }

    /*背景*/
    /*影*/

}

@media (max-width:768px) {
    //スマホ用レイアウト

}

@media (min-width:768px) {

    //PC用レイアウト
    .container {

        /*サイズ*/
        .header {
            //ヘッダー
            /*レイアウト*/
            @include devide_parent();
            /*ボックスデザイン*/
            width: 100%;

            /*背景*/
            /*余白*/
            //ヘッダータイトル
            .header_title {
                /*レイアウト*/
                @include devide_child(20%);
                /*ボックスデザイン*/
                /*フォント*/
                @include header_title();
            }

            //ヘッダーナビゲーション
            .header_nav {
                @include devide_child(80%);
                background-color: $second_color;

                .header_nav_ul {
                    /*レイアウト*/
                    @include devide_parent();

                    /*テキスト*/
                    .header_nav_li {
                        /*レイアウト*/
                        @include devide_nav(13.33%);
                        /*フォント*/
                        @include header_nav();
                    }
                }
            }
        }

        .main {
            /*余白*/
            margin: 5px;
            /*背景*/
            background-color: $third_color;
            /*フォント*/
            color: $first_color;

            .section {

                /*レイアウト*/
                /*ボックス*/
                .section_title {
                    @include headline_big()
                }

                .section_content {
                    .element_title {
                        /*ボックス*/
                        /*フォント*/
                        @include headline_medium();
                    }
                    .history_table{
                        @include table1(15%);
                    }
                }
                
                .charactor_content {
                    /*レイアウト*/
                    @include devide_parent();

                    /*ボックス*/
                    .charactor_element {
                        @include devide_child(50%);
                        /*ボックス*/
                        @include box1();
                        /*フォント*/
                        color: $txt_ico;

                        .element_content {
                            .charactor_vet_parent {
                                @include devide_parent();
                            }

                            .charactor_vet_title {
                                @include devide_child(28%);
                            }

                            .charactor_vet_content {
                                @include devide_child(72%)
                            }

                        }
                    }
                }

                .skill_content {
                    /*レイアウト*/
                    @include devide_parent();

                    /*ボックス*/
                    .skill_element {
                        /*レイアウト*/
                        @include devide_child(50%);
                        /*ボックス*/
                        @include box1;
                        /*フォント*/
                        color: $txt_ico;
                    }
                }


            }
        }

        .footer {
            /*レイアウト*/
            /*背景*/
            background-color: $first_color;
        }
    }
}