/*基本プロパティ*/
/*レイアウト*/
/*ボックスデザイン*/
/*フォント*/
/***********配色***********/
$base: red;
$main1: blue;
$main2: green;
$second: yellow;
/***********テキスト・フォント***********/
$font1: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Mayryo", sans-serif;

/***********ヘッダータイトル***********/
@mixin header_title {
    font-size: 3rem;
    font-family: $font1;

}

/************見出し***********/
/*見出し大*/
@mixin headline_bid {
    font-family: $font1;
    font-size: 2rem;
}

/*見出し中*/
@mixin headline_medium {
    font-family: $font1;
    font-size: 1.5rem;
}

/*見出し小*/
@mixin headline_small {
    font-family: $font1;
    font-size: 1.2rem;
    font: bold;
    color: $first;
}

/*段落*/
@mixin paragraph {
    font-family: $font;
    font-size: 1rem;
}

/*アクセント・ハイライト*/
@mixin highlight {
    font-family: $font;
    font-size: 1rem;
    font: bold;
    color: $second;
}

/*リンク*/

/***********ボックス***********/
@mixin box1 {
    //直線ボックス
    /*余白*/
    margin: auto;
    padding: auto;
    /*ボーダー*/
    border: solid 3px $main1;
    /*背景*/
    background-color: $base;
    /*影*/
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

@mixin box2 {
    //破線ボックス
    /*余白*/
    margin: auto;
    padding: auto;
    /*ボーダー*/
    border: dashed 3px $main1;
    /*背景*/
    background-color: $base;
    /*影*/
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

@mixin box3 {
    //角丸ボックス
    /*余白*/
    margin: auto;
    padding: auto;
    /*ボーダー*/
    border: solid 3px $main1;
    border-radius: 10px;
    /*背景*/
    background-color: $base;
    /*影*/
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/***********リスト***********/
@mixin list1 {}

@mixin list2 {}

/***********テーブル***********/
@mixin table1 {}

@mixin table2 {}

/***********画像***********/
@mixin image1 {}

@mixin image2 {}

/***************************************
スタイル＋レイアウト***********************
***************************************/

@media (max-width:768px) {
    //スマホ用レイアウト

}

@media (min-width:768px) {

    //PC用レイアウト
    .container {
        .header {
            /*レイアウト*/
            position: fixed;
            top: 0;
            /*ボックスデザイン*/
            width: 100%;
            /*背景*/
            background-color: $main1;
            /*余白*/
            .header_title {
                /*レイアウト*/
                /*ボックスデザイン*/
                /*フォント*/
            }

            .header_nav {
                .header_nav_ul{
                    display: flex;
                    justify-content: space-between;
                    .header_nav_li{
                        display: block;
                        padding: 10px;
                    }
                }
            }
        }

        .main {
            /*背景*/
            background-color: $base;
        }

        .footer {
            /*背景*/
            background-color: $base;
        }
    }
}